### Assigning Variables and Values

In [1]:
a,b=10,100
print('a=',a,'b=',b)

a= 10 b= 100

### Checking Types of Variables

In [2]:
a=10.0
b=True
c="gk"
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'bool'>
<class 'str'>

### Changing the Types

In [3]:
a=10

print(a)
print("Type of a Before :",type(a))

a=float(a)
print("Type of a After :",type(a))


a=str(a)
print("Type of a After :",type(a))

10
Type of a Before : <class 'int'>
Type of a After : <class 'float'>
Type of a After : <class 'str'>

### Basic Arithmetic Operations

In [4]:
a=10
b=7

print("Addition = ",a+b)
print("Subtraction = ",a-b)
print("Multiplication = ",a*b)
print("Division = ",a/b)
print("Modules = ",a%b)
print("Integer Division = ",a//b)
print("Exponential = ",a**b)

Addition =  17
Subtraction =  3
Multiplication =  70
Division =  1.4285714285714286
Modules =  3
Integer Division =  1
Exponential =  10000000

### Basic Relational Operators

In [5]:
x=8
y=9
z=8

print('1 X is Greater than Y:',x>y)
print('2 X is Greater than or Equal to Y:',x>=y)
print('3 X is Less than Y:',x<y)
print('4 X is Less than or Equal to Y:',x<=y)
print('5 X Equal to Y:',x==y)
print('6 X Not Equal to Y:',x!=y)

1 X is Greater than Y: False
2 X is Greater than or Equal to Y: False
3 X is Less than Y: True
4 X is Less than or Equal to Y: True
5 X Equal to Y: False
6 X Not Equal to Y: True

### Logical Operators

In [6]:
x=1
y=2

print("X is Less than 10 AND y is Less than 10 :",x<10 and y<10)
print("X is Less than 10 AND y is Greater  than 10 :",x<10 and y>10)
print("X is Less than 10 OR y is Less than 10 :",x<10 or y>10)

X is Less than 10 AND y is Less than 10 : True
X is Less than 10 AND y is Greater  than 10 : False
X is Less than 10 OR y is Less than 10 : True

### ID
The id() function in Python is a built-in function that returns the unique identifier (memory address) for a given object.

In [9]:
a = 10
print(id(a))

b = "Hello"
print(id(b))

1985895819856
1985982606384

### Taking Input from Users

In [7]:
name=input("Enter your name : ")
print("Hello ",name)

Enter your name : georgekutty
Hello  georgekutty

### DECISION MAKING STATEMENT

### IF Condition

In [8]:
num=int(input("enter a number "))
if num>0:
    print("The number is postive")

enter a number 5
The number is postive

### IF ELSE Condition

In [9]:


num=int(input("enter a number "))
if num>0:
    print("The number is postive")
else:
    print("The number is negative")

enter a number 5
The number is postive

### IF ELIF Condition

In [10]:

num=int(input("enter a number "))
if num>0:
    print("The number is Postive")
elif num<0:
    print("The number is Negative")
else:
    print("The number is Zero")

enter a number 0
The number is Zero

### NESTED IF

In [11]:

num = int(input())

if num>1:
    if num<10:
        print('The number lies between 1 and 10')
    else:
        print('The number is greather than 1 but not less than 10')
else:
    print('The number is less than 1')

5
The number lies between 1 and 10

### FOR LOOP

In [12]:
#printing from 0 to N-1 

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
#printing from 0 to N

for i in range(1,10+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [14]:
#printing from N to 1

for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [15]:
# printing 1 to 19 iretation = 2
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

### WHILE LOOP

In [4]:
# printing 1 to N
num=1

while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

In [5]:
# printing N to 1

num=10

while num>=1:
    print(num)
    num-=1

10
9
8
7
6
5
4
3
2
1

### Continue and Break

In [7]:
# breaking the current iteration 

for i in range(1,21):
    if i%5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [8]:
# stoping from specific iretation 

for i in range(1,21):
    if i%5 == 0:
        break
    print(i)

1
2
3
4