### Sentiment Analysis of a Sentence Using Navie Bayes MultinomialNB

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split 

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

### Reading the datasets

In [2]:
data = pd.read_csv('amazon.csv')
data

                                              reviewText  Positive
0      This is a one of the best apps acording to a b...         1
1      This is a pretty good version of the game for ...         1
2      this is a really cool game. there are a bunch ...         1
3      This is a silly game and can be frustrating, b...         1
4      This is a terrific game on any pad. Hrs of fun...         1
...                                                  ...       ...
19995  this app is fricken stupid.it froze on the kin...         0
19996  Please add me!!!!! I need neighbors! Ginger101...         1
19997  love it!  this game. is awesome. wish it had m...         1
19998  I love love love this app on my side of fashio...         1
19999  This game is a rip off. Here is a list of thin...         0

[20000 rows x 2 columns]

In [3]:
data.columns

Index(['reviewText', 'Positive'], dtype='object')

### Spliting into X and Y

In [4]:
x=data.reviewText
y=data.Positive

### Spliting into train and test

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=15)

### Text Documents Into  numerical matrix of word or token counts

In [6]:
cv= CountVectorizer()
x_train_counter = cv.fit_transform(x_train.values)

In [7]:
cv.get_feature_names_out()

array(['00', '000', '007', ..., 'zzz', 'zzzz', 'zzzzz'], dtype=object)

In [8]:
x_train_counter

<14000x15505 sparse matrix of type '<class 'numpy.int64'>'
	with 378416 stored elements in Compressed Sparse Row format>

In [9]:
x_train=pd.DataFrame(x_train_counter.toarray(),
                    columns=cv.get_feature_names_out())

### Preprocessing Sentence data into Tokens as Data frame

In [10]:
x_train

,00,000,007,00am,01,017,02,04,05,06,...,zoo,zoology,zoom,zooming,zpg,zumocast,zz,zzz,zzzz,zzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13997,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Creating a Model

In [11]:
model = MultinomialNB()

### Training a model

In [12]:
model.fit(x_train,y_train)

MultinomialNB()

### Training Score

In [13]:
model.score(x_train,y_train)

0.9332857142857143

### Predicting based on test data

In [14]:
model.predict(cv.transform(x_test))

C:\Users\gkcha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

### Testing Score

In [15]:
model.score(cv.transform(x_test),y_test)

0.9005

### Custom Prediction

In [16]:
text = ['worst experience ever',
       'the app is really awesome inevitable']

In [17]:
model.predict(cv.transform(text))

C:\Users\gkcha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MultinomialNB was fitted with feature names
  warnings.warn(

array([0, 1], dtype=int64)

In [18]:
x_=pd.DataFrame(cv.transform(text).toarray(),
                    columns=cv.get_feature_names_out())

In [19]:
df =x_

In [20]:
# Count the number of non-zero entries in each column
non_zero_counts = (df != 0).sum()

# Filter to only include columns with non-zero counts
non_zero_columns = non_zero_counts[non_zero_counts > 0]

# Display the columns and their non-zero counts
print(non_zero_columns)

app           1
awesome       1
ever          1
experience    1
is            1
really        1
the           1
worst         1
dtype: int64

In [21]:
# inevitable is not in the data frame becaues the word is not in training data set which is used for prediction