In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split


from sklearn.neighbors import KNeighborsRegressor

In [2]:
data = pd.read_csv('automobile.csv')
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
198,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
199,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
200,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [3]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [4]:
data.isna().sum()

symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [5]:
data[['normalized-losses']] = data[['normalized-losses']].fillna(data['normalized-losses'].mean())

###

from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
data[['num-of-doors']]= imputer.fit_transform(data[['num-of-doors']])
data.isnull().sum()

In [6]:
data['num-of-doors']=data['num-of-doors'].fillna('four')

In [7]:
#pip install word2number

In [8]:
from word2number.w2n import word_to_num

In [9]:
data['num-of-doors'] = data['num-of-doors'].apply(word_to_num)

In [10]:
data['num-of-cylinders']=data['num-of-cylinders'].apply(word_to_num)

In [11]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors           int64
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders       int64
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [12]:
for col in data:
    if data[col].dtype == 'O':
        print('Column name',col)
        print(data[col].unique())

Column name make
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']
Column name fuel-type
['gas' 'diesel']
Column name aspiration
['std' 'turbo']
Column name body-style
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']
Column name drive-wheels
['rwd' 'fwd' '4wd']
Column name engine-location
['front' 'rear']
Column name engine-type
['dohc' 'ohcv' 'ohc' 'l' 'rotor' 'ohcf']
Column name fuel-system
['mpfi' '2bbl' 'mfi' '1bbl' 'spfi' '4bbl' 'idi' 'spdi']
Column name bore
['3.47' '2.68' '3.19' '3.13' '3.5' '3.31' '3.62' '2.91' '3.03' '2.97'
 '3.34' '3.6' '2.92' '3.15' '3.43' '3.63' '3.54' '3.08' '?' '3.39' '3.76'
 '3.58' '3.46' '3.8' '3.78' '3.17' '3.35' '3.59' '2.99' '3.33' '3.7'
 '3.61' '3.94' '3.74' '2.54' '3.05' '3.27' '3.24' '3.01']
Column name stroke
['2.68' '3.47' '3.4' '2.8' '3.19' '3.39' '3.03' '3.11' '3.23' '3.46' '3.9'
 '3.41' '3.07' '3.58' '4.17' '2.76' '3.15' '?' '3.16' '3.64' '3.1' '3.35'
 '3.12' '3.86' '3.29' '3.27' '3.52' '2.19' '3.21' '2.9' '2.07' '2.36'
 '2.64' '3.08' '3.5' '3.54' '2.87']
Column name horsepower
['111' '154' '102' '115' '110' '140' '101' '121' '182' '48' '70' '68' '88'
 '145' '58' '76' '60' '86' '100' '78' '90' '176' '262' '135' '84' '64'
 '120' '72' '123' '155' '184' '175' '116' '69' '55' '97' '152' '160' '200'
 '95' '142' '143' '207' '?' '73' '82' '94' '62' '56' '112' '92' '161'
 '156' '52' '85' '114' '162' '134' '106']
Column name peak-rpm
['5000' '5500' '5800' '4250' '5400' '5100' '4800' '6000' '4750' '4650'
 '4200' '4350' '4500' '5200' '4150' '5600' '5900' '?' '5250' '4900' '4400'
 '6600' '5300']

In [13]:
data = data.replace('?',0)

In [14]:
ob_columns = ['bore','stroke','horsepower','peak-rpm']

for col in ob_columns:
    data[col] = data[col].astype('float')
    data[col] = data[col].replace(0,data[col].mean())
    print(col , data[col].dtype)

bore float64
stroke float64
horsepower float64
peak-rpm float64

In [15]:
data.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors           int64
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders       int64
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [16]:
for col in data:
    if data[col].dtype == 'O':
        print(col)

make
fuel-type
aspiration
body-style
drive-wheels
engine-location
engine-type
fuel-system

In [17]:
makes = LabelEncoder()
data['make'] = makes.fit_transform(data['make'])

In [18]:
fueltypes = LabelEncoder()
data['fuel-type'] = fueltypes.fit_transform(data['fuel-type'])

In [19]:
aspirations = LabelEncoder()
data['aspiration'] = aspirations.fit_transform(data['aspiration'])

In [20]:
bodystyles = LabelEncoder()
data['body-style'] = bodystyles.fit_transform(data['body-style'])

In [21]:
drivewheelss = LabelEncoder()
data['drive-wheels'] = drivewheelss.fit_transform(data['drive-wheels'])

In [22]:
enginelocations = LabelEncoder()
data['engine-location'] = enginelocations.fit_transform(data['engine-location'])

In [23]:
fuelsystems  = LabelEncoder()
data['fuel-system'] = fuelsystems.fit_transform(data['fuel-system'])

In [24]:
enginetypes  = LabelEncoder()
data['engine-type'] = enginetypes.fit_transform(data['engine-type'])

In [25]:
data.dtypes

symboling              int64
normalized-losses    float64
make                   int32
fuel-type              int32
aspiration             int32
num-of-doors           int64
body-style             int32
drive-wheels           int32
engine-location        int32
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type            int32
num-of-cylinders       int64
engine-size            int64
fuel-system            int32
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [26]:
x=data.drop('price', axis = 1)

In [27]:
y=data['price']

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=120)

In [29]:
model = KNeighborsRegressor()
model.fit(x_train,y_train)

KNeighborsRegressor()

In [30]:
print("Train Score",model.score(x_train,y_train))
print("Test Score",model.score(x_test,y_test))

Train Score 0.8796684894767907
Test Score 0.7971886512369625

In [31]:
for i in range

model1 = KNeighborsRegressor(n_neighbors=)
model1.fit(x_train,y_train)

KNeighborsRegressor(n_neighbors=10)

In [32]:
print("Train Score",model1.score(x_train,y_train))
print("Test Score",model1.score(x_test,y_test))

Train Score 0.802667822590724
Test Score 0.7609256998928173

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
data.dtypes

symboling              int64
normalized-losses    float64
make                   int32
fuel-type              int32
aspiration             int32
num-of-doors           int64
body-style             int32
drive-wheels           int32
engine-location        int32
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type            int32
num-of-cylinders       int64
engine-size            int64
fuel-system            int32
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [35]:
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,121.836364,0,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,13495
1,3,121.836364,0,1,0,2,0,2,0,88.6,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,16500
2,1,121.836364,0,1,0,2,2,2,0,94.5,...,152,5,2.68,3.47,9.0,154.0,5000.0,19,26,16500
3,2,164.000000,1,1,0,4,3,1,0,99.8,...,109,5,3.19,3.40,10.0,102.0,5500.0,24,30,13950
4,2,164.000000,1,1,0,4,3,0,0,99.4,...,136,5,3.19,3.40,8.0,115.0,5500.0,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,-1,95.000000,21,1,1,4,3,2,0,109.1,...,141,5,3.78,3.15,8.7,160.0,5300.0,19,25,19045
198,-1,95.000000,21,1,0,4,3,2,0,109.1,...,173,5,3.58,2.87,8.8,134.0,5500.0,18,23,21485
199,-1,95.000000,21,0,1,4,3,2,0,109.1,...,145,3,3.01,3.40,23.0,106.0,4800.0,26,27,22470
200,-1,95.000000,21,1,1,4,3,2,0,109.1,...,141,5,3.78,3.15,9.5,114.0,5400.0,19,25,22625
201,-1,95.000000,21,1,1,4,3,2,0,109.1,...,141,5,3.78,3.15,9.5,114.0,5400.0,19,25,22625

In [36]:
y_pred = model1.predict(x_test)
pd.DataFrame({'True Value' : y_test ,'Predicted Value' : y_pred })

     True Value  Predicted Value
87         7099           7102.8
118        6692           6659.6
80        14869          14541.4
200       22625          18165.0
62        18280          11278.5
108       15580          14661.7
101       17199          16710.8
152        6938           7102.8
32         6529           8650.5
180        7995           7875.2
35         7295          10457.4
125       37028          20359.9
165        9989          10218.3
161        9298           9988.7
163        8449          10122.9
46        36000          33452.7
74         6189           6493.4
136        7603           9178.9
6         17710          17570.8
39        10295          11749.8
1         16500           9916.1
179        7975           8404.3
41        10345           9452.3
20         5572           6493.4
131       15510          13449.5
103       18399          16710.8
109       16900          20349.3
73         5389           6493.4
168       17669          13738.6
5         15250          12486.0
82         6989           9337.8
76         7689           7881.5
91         7299           7198.2
81        14489          14541.4
185       11595           9452.3
9         16430          11817.8
110       16695          15542.7
64        25552          27152.5
2         16500          12827.1
38         8845          12288.5
75         6669           6749.2